<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481892389283-6rv5jbjqh398tpltem8lnn5is2o332nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481892389283-6rv5jbjqh398tpltem8lnn5is2o332nq</string>
	<key>API_KEY</key>
	<string>AIzaSyALEurcOPwgOkA-2q-XfDV0LlaNTDv5Tr0</string>
	<key>GCM_SENDER_ID</key>
	<string>481892389283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnAid</string>
	<key>PROJECT_ID</key>
	<string>learn-aid</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-aid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481892389283:ios:6b13c4fab0e04726234a16</string>
</dict>
</plist>